<head>{% include fonts.html %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  
</head>
<header class="fixed w-full z-50 bg-black/50 backdrop-blur-md px-6 py-4 flex justify-between items-center shadow font-[Oxanium]">
  <a href="/" class="flex items-center">
  <img src="/assets/img/profile2.png" alt="Rachit Jaiswal" class="w-6 h-6 rounded-full object-cover" />
</a>
  <nav class="space-x-6 text-sm font-light">
    <a href="/home" class="hover:text-cyan-400 transition">Home</a>
    <a href="/about" class="hover:text-cyan-400 transition">About</a>
    <a href="/projects" class="hover:text-cyan-400 transition">Projects</a>
    <a href="/blogs" class="hover:text-cyan-400 transition">Blog</a>
  </nav>
</header>